@media only screen and (max-width:666px){
    
     table,thead,tbody,th,td,tr{
        display: block;
    }
    thead tr{
        position: absolute;
        top: -999px;
        left: -999px;
      
    }
    
    td{border: none;
      border: 1px solid #eee;
      position: relative;
     
    }
    td:before{
        position: absolute;
        top:6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        
    }
    td:before{
        position: absolute;
        top: 6px;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 12px;
        text-align: center;
        
    }
    
    #tbl-user-body tr td {
        font-size: 12px;
        padding-left: 0%;
    }

    /*td:nth-of-type(1):before{content: "ID";}
    td:nth-of-type(2):before{content: "IMAGE";}
    td:nth-of-type(3):before{content: "NAME";}
    td:nth-of-type(4):before{content: "EMAIL";}
    td:nth-of-type(5):before{content: "PHONE";}
    td:nth-of-type(6):before{content: "OTP VEREFIED";}
    td:nth-of-type(7):before{content: "FLAGGED";}
    td:nth-of-type(8):before{content: "JOIN ON";}
    td:nth-of-type(9):before{content: "STATUS";}
    td:nth-of-type(10):before{content: "ACTION";}*/
    
}


@media(max-width:766px){
    #navmenuitem {
        padding: 8px 0px;
    }
}
@media(max-width:576px){
    .siderbar{
      
        min-width:100%;
        max-width: 100%;
        scroll-padding-right: 2px solid rgb(204, 32, 32);
    }
    #useradmin {
        width: 100%;
        margin: 0 15%;
    }
    #useradmin p {
        margin: 0px 25%;
    }
    #profileadmin a .fa-cog {
        margin: 0px;
        font-size: 21px;
     
    }
    #useradmin span {
        padding: 0 23%;
    }
}
@media(max-width:266px){

    #tbl-user-body tr td {
        font-size: 9px;
        padding-left: 43%;
        text-align: start;
    }

    td:before{
      
     left: 2px; 
    width: 28%;
    font-size: 8px;
    text-align: start;
        
    }
}
@media(max-width:220px){
    #nav_menu{
      
        min-width:200px;
        max-width: 200px;
      
    }
    .siderbar{
      
        min-width:200px;
        max-width: 200px;
    }
}

















     